.display {
  border: 2px solid rgb(95, 95, 95);
  border-radius: 5px;
  margin: 0 auto;
  width: 60vw;
  height: 60vw;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: center;
}
.tile {
  border: .01px solid rgb(95, 95, 95);
  transition: .3s;
}
.colorcontainer {
  display: flex;
  gap: 5px;
}
.colorselector {
  width: 40px;
  height: 40px;
  border: .5px solid rgb(95, 95, 95);
  border-radius: 5px;
}